<% include ../header %>
  <header>
    <h1>Ntalk</h1>
    <h4>Bem-vindo!</h4>
  </header>
  <section>
    <form action="/entrar" method="post">
      <input type="text" name="usuario[nome]" placeholder="Digiteo o seu nome"><br>
      <input type="text" name="usuario[email]" placeholder="Digite o seu email"><br>
      <button type="submit">Entrar</button>
    </form>
  </section>
<% include ../footer %>